:root {
  --branding-color: #2676a9;
  --secondary-color: #edf3f7;
  --text-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--secondary-color);
}
h1 {
  position: absolute;
  font-family: var(--heading-font-family);
  font-weight: regular;
  font-size: 42px;
  margin: 10px 25px;
  color: black;
}
h2 {
  display: block;
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: regular;
  font-size: 34px;
  margin: 10px 25px;
  color: black;
}
h3 {
  font-family: var(--heading-font-family);
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}
.hero {
  position: relative;
}
.carousel-pic {
  max-width: 100%;
}

.homepage-text {
  text-align: center;
}
.btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--branding-color);
  border-radius: 5px;
  color: #ffff;
  font-family: var(--default-font-family);
  font-size: 14px;
}
.reviews {
  color: var(--text-color);
  text-align: center;
  padding: 10px 50px;
  font-size: 16px;
}
.review-text {
  padding: 30px;
}
.author-fade {
  color: var(--text-color);
  opacity: 70%;
}
.header {
  font-family: var(--heading-font-family);
  font-weight: regular;
  font-size: 42px;
  margin: 10px 25px;
  color: black;
}
.green-hs {
  border-radius: 5px;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.links {
  text-decoration: none;
}
.about-photos {
  margin-top: 35px;
}
.gallery-heading {
  margin-bottom: 20px;
}
.top-hs {
  width: 383px;
  display: block;
  margin: 0 auto;
}
.images {
  margin: 10px 10px;
  max-width: 475px;
}

.noah {
  margin-top: -40px;
}
.catch-me {
  margin-left: 70px;
}
.godspell {
  margin-top: -295px;
}
.concert,
.carousel2 {
  border-radius: 5px;
}
.curtains {
  margin-top: -85px;
}
.carmen {
  margin-top: -80px;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 28px;
    display: block;
    text-align: center;
  }
  h2 h3 {
    font-size: 18px;
  }
  .reviews {
    font-size: 12px;
    padding: 0;
  }
  .green-hs {
    max-width: 100%;
    margin: 0 auto;
  }
  .about-text {
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
@media (max-width: 1200px) {
  .denim-hs,
  .purple-hs,
  .black-hs,
  .images {
    margin: 0 auto;
    padding: 10px;
    display: block;
  }
}
